# Import Libraries and Databases

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import databases
path=r'C:\Users\William\July-2023 Airbnb Amsterdam'

In [3]:
df_calendar=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'archive', 'calendar.csv'), index_col = False)

In [4]:
df_listings=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'archive', 'listings.csv'), index_col = False)

In [5]:
df_listings_dets=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'archive', 'listings_details.csv'), index_col = False)

C:\Users\William\AppData\Local\Temp\ipykernel_12588\666114683.py:1: DtypeWarning: Columns (87) have mixed types. Specify dtype option on import or set low_memory=False.
  df_listings_dets=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'archive', 'listings_details.csv'), index_col = False)

In [6]:
df_neighbourhoods=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'archive', 'neighbourhoods.csv'), index_col = False)

In [7]:
df_reviews=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'archive', 'reviews.csv'), index_col = False)

In [8]:
df_reviews_dets=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'archive', 'reviews_details.csv'), index_col = False)

# Dropping Columns

In [9]:
# Dropping columns in Listing database
df_listings_2 = df_listings.drop(columns = ['neighbourhood_group'])

In [10]:
# Dropping columns in Listing Details database
df_listings_dets_2 = df_listings_dets.drop(columns = ['neighbourhood_group_cleansed', 'thumbnail_url','medium_url','xl_picture_url','host_acceptance_rate'])

In [11]:
# Dropping columns in Neighbourhoods database
df_neighbourhoods_2 = df_neighbourhoods.drop(columns = ['neighbourhood_group'])

In [12]:
# Checking drops
df_listings_2.head(10)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199
5,28658,Cosy guest room near city centre -1,123414,Michele,Bos en Lommer,52.375342,4.857289,Private room,65,3,434,2018-11-19,4.16,2,295
6,28871,Comfortable double room,124245,Edwin,Centrum-West,52.367187,4.890918,Private room,75,2,215,2018-12-03,2.13,3,137
7,29051,Comfortable single room,124245,Edwin,Centrum-West,52.367725,4.891512,Private room,55,2,383,2018-12-05,4.07,3,188
8,31080,2-story apartment + rooftop terrace,133488,Nienke,Zuid,52.351321,4.848383,Entire home/apt,219,3,32,2017-10-16,0.36,1,336
9,41125,Amsterdam Center Entire Apartment,178515,Fatih,Centrum-West,52.378915,4.883205,Entire home/apt,180,3,76,2018-10-07,0.78,1,11

In [13]:
df_listings_dets_2.head(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20181206172549,2018-12-06,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.10
1,3209,https://www.airbnb.com/rooms/3209,20181206172549,2018-12-06,"Quiet apt near center, great view",You will love our spacious (90 m2) bright apar...,"Our apartment has lots of light, a balcony and...",You will love our spacious (90 m2) bright apar...,none,Welcome to the Spaarndammerbuurt! From the beg...,...,f,NaN,{Amsterdam},f,f,moderate,f,f,1,1.03
2,20168,https://www.airbnb.com/rooms/20168,20181206172549,2018-12-06,100%Centre-Studio 1 Private Floor/Bathroom,"Cozy studio on your own private floor, 100% in...",For those who like all facets of city life. In...,"Cozy studio on your own private floor, 100% in...",none,Located just in between famous central canals....,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,2.18
3,25428,https://www.airbnb.com/rooms/25428,20181206172549,2018-12-06,Lovely apt in City Centre (Jordaan),NaN,"This nicely furnished, newly renovated apt is...","This nicely furnished, newly renovated apt is...",none,NaN,...,f,NaN,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2,0.09
4,27886,https://www.airbnb.com/rooms/27886,20181206172549,2018-12-06,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,For a romantic couple: A beautifully restored ...,Stylish and romantic houseboat on fantastic hi...,none,"Central, quiet, safe, clean and beautiful.",...,f,NaN,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1,2.03

In [14]:
df_listings_dets_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Data columns (total 91 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                20030 non-null  int64
 1   listing_url                       20030 non-null  object
 2   scrape_id                         20030 non-null  int64
 3   last_scraped                      20030 non-null  object
 4   name                              19992 non-null  object
 5   summary                           19510 non-null  object
 6   space                             14579 non-null  object
 7   description                       19906 non-null  object
 8   experiences_offered               20030 non-null  object
 9   neighborhood_overview             13257 non-null  object
 10  notes                             9031 non-null   object
 11  transit                           13635 non-null  object
 12  access                            12227 non-null  object
 13  interaction                       11974 non-null  object
 14  house_rules                       12571 non-null  object
 15  picture_url                       20030 non-null  object
 16  host_id                           20030 non-null  int64
 17  host_url                          20030 non-null  object
 18  host_name                         20026 non-null  object
 19  host_since                        20026 non-null  object
 20  host_location                     19991 non-null  object
 21  host_about                        11803 non-null  object
 22  host_response_time                10547 non-null  object
 23  host_response_rate                10547 non-null  object
 24  host_is_superhost                 20026 non-null  object
 25  host_thumbnail_url                20026 non-null  object
 26  host_picture_url                  20026 non-null  object
 27  host_neighbourhood                14222 non-null  object
 28  host_listings_count               20026 non-null  float64
 29  host_total_listings_count         20026 non-null  float64
 30  host_verifications                20030 non-null  object
 31  host_has_profile_pic              20026 non-null  object
 32  host_identity_verified            20026 non-null  object
 33  street                            20030 non-null  object
 34  neighbourhood                     18377 non-null  object
 35  neighbourhood_cleansed            20030 non-null  object
 36  city                              20026 non-null  object
 37  state                             19903 non-null  object
 38  zipcode                           19164 non-null  object
 39  market                            19988 non-null  object
 40  smart_location                    20030 non-null  object
 41  country_code                      20030 non-null  object
 42  country                           20030 non-null  object
 43  latitude                          20030 non-null  float64
 44  longitude                         20030 non-null  float64
 45  is_location_exact                 20030 non-null  object
 46  property_type                     20030 non-null  object
 47  room_type                         20030 non-null  object
 48  accommodates                      20030 non-null  int64
 49  bathrooms                         20020 non-null  float64
 50  bedrooms                          20022 non-null  float64
 51  beds                              20023 non-null  float64
 52  bed_type                          20030 non-null  object
 53  amenities                         20030 non-null  object
 54  square_feet                       406 non-null    float64
 55  price                             20030 non-null  object
 56  weekly_price                      2843 non-null   object
 57  monthly_price                     1561 non-null   object
 58  security_deposit                  13864 non-null  object
 59  cleaning_fee                      16401 non-null  object
 60  guests_included                   20030 non-null  int64
 61  extra_people                      20030 non-null  object
 62  minimum_nights                    20030 non-null  int64
 63  maximum_nights                    20030 non-null  int64
 64  calendar_updated                  20030 non-null  object
 65  has_availability                  20030 non-null  object
 66  availability_30                   20030 non-null  int64
 67  availability_60                   20030 non-null  int64
 68  availability_90                   20030 non-null  int64
 69  availability_365                  20030 non-null  int64
 70  calendar_last_scraped             20030 non-null  object
 71  number_of_reviews                 20030 non-null  int64
 72  first_review                      17624 non-null  object
 73  last_review                       17624 non-null  object
 74  review_scores_rating              17391 non-null  float64
 75  review_scores_accuracy            17381 non-null  float64
 76  review_scores_cleanliness         17383 non-null  float64
 77  review_scores_checkin             17369 non-null  float64
 78  review_scores_communication       17378 non-null  float64
 79  review_scores_location            17370 non-null  float64
 80  review_scores_value               17371 non-null  float64
 81  requires_license                  20030 non-null  object
 82  license                           9 non-null      object
 83  jurisdiction_names                19358 non-null  object
 84  instant_bookable                  20030 non-null  object
 85  is_business_travel_ready          20030 non-null  object
 86  cancellation_policy               20030 non-null  object
 87  require_guest_profile_picture     20030 non-null  object
 88  require_guest_phone_verification  20030 non-null  object
 89  calculated_host_listings_count    20030 non-null  int64
 90  reviews_per_month                 17624 non-null  float64
dtypes: float64(16), int64(13), object(62)
memory usage: 13.9+ MB

In [15]:
df_neighbourhoods_2.head()

            neighbourhood
0         Bijlmer-Centrum
1            Bijlmer-Oost
2           Bos en Lommer
3  Buitenveldert - Zuidas
4            Centrum-Oost

# Changing Data Types

In [16]:
# Changing data types in Calendar database
df_calendar['listing_id'] = df_calendar['listing_id'].astype('object')

In [17]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310950 entries, 0 to 7310949
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  object
 1   date        object
 2   available   object
 3   price       object
dtypes: object(4)
memory usage: 223.1+ MB

In [18]:
# Changing data types in Listings database
df_listings_2['id'] = df_listings_2['id'].astype('object')

In [19]:
df_listings_2['host_id'] = df_listings_2['host_id'].astype('object')

In [20]:
df_listings_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20030 non-null  object
 1   name                            19992 non-null  object
 2   host_id                         20030 non-null  object
 3   host_name                       20026 non-null  object
 4   neighbourhood                   20030 non-null  object
 5   latitude                        20030 non-null  float64
 6   longitude                       20030 non-null  float64
 7   room_type                       20030 non-null  object
 8   price                           20030 non-null  int64
 9   minimum_nights                  20030 non-null  int64
 10  number_of_reviews               20030 non-null  int64
 11  last_review                     17624 non-null  object
 12  reviews_per_month               17624 non-null  float64
 13  calculated_host_listings_count  20030 non-null  int64
 14  availability_365                20030 non-null  int64
dtypes: float64(3), int64(5), object(7)
memory usage: 2.3+ MB

In [21]:
# Changing data types in Listings Details database
df_listings_dets_2['id'] = df_listings_dets_2['id'].astype('object')

In [22]:
df_listings_dets_2['scrape_id'] = df_listings_dets_2['scrape_id'].astype('object')

In [23]:
df_listings_dets_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Data columns (total 91 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                20030 non-null  object
 1   listing_url                       20030 non-null  object
 2   scrape_id                         20030 non-null  object
 3   last_scraped                      20030 non-null  object
 4   name                              19992 non-null  object
 5   summary                           19510 non-null  object
 6   space                             14579 non-null  object
 7   description                       19906 non-null  object
 8   experiences_offered               20030 non-null  object
 9   neighborhood_overview             13257 non-null  object
 10  notes                             9031 non-null   object
 11  transit                           13635 non-null  object
 12  access                            12227 non-null  object
 13  interaction                       11974 non-null  object
 14  house_rules                       12571 non-null  object
 15  picture_url                       20030 non-null  object
 16  host_id                           20030 non-null  int64
 17  host_url                          20030 non-null  object
 18  host_name                         20026 non-null  object
 19  host_since                        20026 non-null  object
 20  host_location                     19991 non-null  object
 21  host_about                        11803 non-null  object
 22  host_response_time                10547 non-null  object
 23  host_response_rate                10547 non-null  object
 24  host_is_superhost                 20026 non-null  object
 25  host_thumbnail_url                20026 non-null  object
 26  host_picture_url                  20026 non-null  object
 27  host_neighbourhood                14222 non-null  object
 28  host_listings_count               20026 non-null  float64
 29  host_total_listings_count         20026 non-null  float64
 30  host_verifications                20030 non-null  object
 31  host_has_profile_pic              20026 non-null  object
 32  host_identity_verified            20026 non-null  object
 33  street                            20030 non-null  object
 34  neighbourhood                     18377 non-null  object
 35  neighbourhood_cleansed            20030 non-null  object
 36  city                              20026 non-null  object
 37  state                             19903 non-null  object
 38  zipcode                           19164 non-null  object
 39  market                            19988 non-null  object
 40  smart_location                    20030 non-null  object
 41  country_code                      20030 non-null  object
 42  country                           20030 non-null  object
 43  latitude                          20030 non-null  float64
 44  longitude                         20030 non-null  float64
 45  is_location_exact                 20030 non-null  object
 46  property_type                     20030 non-null  object
 47  room_type                         20030 non-null  object
 48  accommodates                      20030 non-null  int64
 49  bathrooms                         20020 non-null  float64
 50  bedrooms                          20022 non-null  float64
 51  beds                              20023 non-null  float64
 52  bed_type                          20030 non-null  object
 53  amenities                         20030 non-null  object
 54  square_feet                       406 non-null    float64
 55  price                             20030 non-null  object
 56  weekly_price                      2843 non-null   object
 57  monthly_price                     1561 non-null   object
 58  security_deposit                  13864 non-null  object
 59  cleaning_fee                      16401 non-null  object
 60  guests_included                   20030 non-null  int64
 61  extra_people                      20030 non-null  object
 62  minimum_nights                    20030 non-null  int64
 63  maximum_nights                    20030 non-null  int64
 64  calendar_updated                  20030 non-null  object
 65  has_availability                  20030 non-null  object
 66  availability_30                   20030 non-null  int64
 67  availability_60                   20030 non-null  int64
 68  availability_90                   20030 non-null  int64
 69  availability_365                  20030 non-null  int64
 70  calendar_last_scraped             20030 non-null  object
 71  number_of_reviews                 20030 non-null  int64
 72  first_review                      17624 non-null  object
 73  last_review                       17624 non-null  object
 74  review_scores_rating              17391 non-null  float64
 75  review_scores_accuracy            17381 non-null  float64
 76  review_scores_cleanliness         17383 non-null  float64
 77  review_scores_checkin             17369 non-null  float64
 78  review_scores_communication       17378 non-null  float64
 79  review_scores_location            17370 non-null  float64
 80  review_scores_value               17371 non-null  float64
 81  requires_license                  20030 non-null  object
 82  license                           9 non-null      object
 83  jurisdiction_names                19358 non-null  object
 84  instant_bookable                  20030 non-null  object
 85  is_business_travel_ready          20030 non-null  object
 86  cancellation_policy               20030 non-null  object
 87  require_guest_profile_picture     20030 non-null  object
 88  require_guest_phone_verification  20030 non-null  object
 89  calculated_host_listings_count    20030 non-null  int64
 90  reviews_per_month                 17624 non-null  float64
dtypes: float64(16), int64(11), object(64)
memory usage: 13.9+ MB

In [24]:
# Changing data types in Reviews database
df_reviews['listing_id'] = df_reviews['listing_id'].astype('object')

In [25]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431830 entries, 0 to 431829
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  431830 non-null  object
 1   date        431830 non-null  object
dtypes: object(2)
memory usage: 6.6+ MB

In [26]:
# Changing data types in Reviews Details database
df_reviews_dets['listing_id'] = df_reviews_dets['listing_id'].astype('object')

In [27]:
df_reviews_dets['id'] = df_reviews_dets['id'].astype('object')

In [28]:
df_reviews_dets['reviewer_id'] = df_reviews_dets['reviewer_id'].astype('object')

In [29]:
df_reviews_dets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431830 entries, 0 to 431829
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     431830 non-null  object
 1   id             431830 non-null  object
 2   date           431830 non-null  object
 3   reviewer_id    431830 non-null  object
 4   reviewer_name  431830 non-null  object
 5   comments       431300 non-null  object
dtypes: object(6)
memory usage: 19.8+ MB

# Identifying Missing Values

In [30]:
# Identifying missing values in Calenders database
df_calendar.isnull().sum()

listing_id          0
date                0
available           0
price         6110879
dtype: int64

In [31]:
# Identifying missing values in Listings_2 database
df_listings_2.isnull().sum()

id                                   0
name                                38
host_id                              0
host_name                            4
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2406
reviews_per_month                 2406
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [32]:
# Identifying missing values in Listings_dets_2 database
df_listings_dets_2.isnull().sum()

id                                     0
listing_url                            0
scrape_id                              0
last_scraped                           0
name                                  38
                                    ...
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
calculated_host_listings_count         0
reviews_per_month                   2406
Length: 91, dtype: int64

In [33]:
# Identifying missing values in Reviews database
df_reviews.isnull().sum()

listing_id    0
date          0
dtype: int64

In [34]:
# Identifying missing values in Reviews_dets database
df_reviews_dets.isnull().sum()

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      0
comments         530
dtype: int64

# Finding and Addressing Duplicates

In [35]:
# Finding duplicates in calendars dataframe
df_cal_dups = df_calendar[df_calendar.duplicated()]

In [36]:
df_cal_dups

Empty DataFrame
Columns: [listing_id, date, available, price]
Index: []

In [37]:
# Finding duplicates in listings_2 dataframe
df_list_dups = df_listings_2[df_listings_2.duplicated()]

In [38]:
df_list_dups

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [39]:
# Finding duplicates in listings__dets_2 dataframe
df_list_dets_dups = df_listings_dets_2[df_listings_dets_2.duplicated()]

In [40]:
df_list_dets_dups

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, name, summary, space, description, experiences_offered, neighborhood_overview, notes, transit, access, interaction, house_rules, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, street, neighbourhood, neighbourhood_cleansed, city, state, zipcode, market, smart_location, country_code, country, latitude, longitude, is_location_exact, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, minimum_nights, maximum_nights, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, requires_license, license, jurisdiction_names, instant_bookable, is_business_travel_ready, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification, calculated_host_listings_count, reviews_per_month]
Index: []

[0 rows x 91 columns]

In [41]:
# Finding duplicates in reviews dataframe
df_reviews_dups = df_reviews[df_reviews.duplicated()]

In [42]:
df_reviews_dups

       listing_id        date
367         20168  2016-01-05
1220        28871  2017-08-29
1506        29051  2016-03-10
2620        47061  2011-10-16
3036        50515  2014-04-17
...           ...         ...
431809   30248825  2018-11-28
431815   30339819  2018-11-28
431816   30339819  2018-11-28
431817   30339819  2018-11-28
431818   30339819  2018-11-28

[1321 rows x 2 columns]

In [43]:
# Finding duplicates in reviews_dets dataframe
df_reviews_dets_dups = df_reviews_dets[df_reviews_dets.duplicated()]

In [44]:
df_reviews_dets_dups

Empty DataFrame
Columns: [listing_id, id, date, reviewer_id, reviewer_name, comments]
Index: []

# Exporting Dataframes

In [45]:
# Exporting all cleaned dataframes
df_calendar.to_csv(os.path.join(path, 'Data','Prepared Data', 'df_calendar_cleaned.csv'))

In [46]:
df_listings_2.to_csv(os.path.join(path, 'Data','Prepared Data', 'df_listings_cleaned.csv'))

In [47]:
df_listings_dets_2.to_csv(os.path.join(path, 'Data','Prepared Data', 'df_listings_dets_cleaned.csv'))

In [48]:
df_neighbourhoods_2.to_csv(os.path.join(path, 'Data','Prepared Data', 'df_neighbourhoods_cleaned.csv'))

In [49]:
df_reviews.to_csv(os.path.join(path, 'Data','Prepared Data', 'df_reviews_cleaned.csv'))

In [50]:
df_reviews_dets.to_csv(os.path.join(path, 'Data','Prepared Data', 'df_reviews_dets_cleaned.csv'))